@model IEnumerable<DrugStore.Data.Entities.Product.Product>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">New Products</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a asp-area="" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"> <img src="/images/Product/@item.ImageName" width="270px" alt="@item.Name"></a>
                    <h3 class="text-dark"><a asp-area="" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                    <p class="price">@item.Price.ToString("C")</p>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <a asp-area="" asp-controller="Product" asp-action="Index" class="btn btn-primary px-4 py-3">View All Products</a>
            </div>
        </div>
    </div>
</div>

